## Pandas

## Pandas
#### Pandas is a library built using NumPy specifically for data analysis. You'll be using Pandas heavily for data manipulation, visualisation, building machine learning models, etc.

#### There are two main data structures in Pandas - Series and Dataframes. The default way to store data is dataframes, and thus manipulating dataframes quickly is probably the most important skill set for data analysis.


### In this section, you will study:

- The pandas Series (similar to a numpy array)
- Creating a pandas series
- Indexing series
- Dataframes
- Creating dataframes from dictionaries
- Importing CSV data files as pandas dataframes
- Reading and summarising dataframes
- Sorting dataframes
### 1. The Pandas Series
#### A series is similar to a 1-D numpy array, and contains scalar values of the same type (numeric, character, datetime etc.). A dataframe is simply a table where each column is a pandas series.

### Creating Pandas Series
#### Series are one-dimensional array-like structures, though unlike numpy arrays, they often contain non-numeric data (characters, dates, time, booleans etc.)

#### You can create pandas series from array-like objects using pd.Series().

In [1]:
import pandas as pd

k=pd.Series([1,5,9,4])

k

0    1
1    5
2    9
3    4
dtype: int64

In [2]:
m=pd.Series([45,63,98,65],index=["siva","hello","hii","good"])

m

siva     45
hello    63
hii      98
good     65
dtype: int64

In [3]:
m1=pd.Series([45,63,98,65],["siva","hello","hii","good"])

m1

siva     45
hello    63
hii      98
good     65
dtype: int64

In [4]:
m1['siva']

45

### The Pandas Dataframe
#### Dataframe is the most widely used data-structure in data analysis. It is a table with rows and columns, with rows having an index and columns having meaningful names.

### Creating dataframes from dictionaries
#### There are various ways of creating dataframes, such as creating them from dictionaries, JSON objects, reading from txt, CSV files, etc.

In [5]:
v=pd.DataFrame({"Name":["abc","bnb","hgv"],"Sud No":["N160123","N160124","N160125"],"Grage":['A',"B","A"]})

v

  Name   Sud No Grage
0  abc  N160123     A
1  bnb  N160124     B
2  hgv  N160125     A

In [8]:
m=pd.DataFrame([["dfd","jhj","hgh"],[1,2,3],[10,20,30]])
m

     0    1    2
0  dfd  jhj  hgh
1    1    2    3
2   10   20   30